<footer>
  <div class="container">
    <h6>this is the footer</h6>
    <p>All information copyright &copy; 2016 | RNR, LLC</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>
